@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
  font-family: 'Ubuntu Mono';
  height: calc(100vh - 16px);
  font-size: 20px;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

#info {
	height: 70px;
}

#cost-wrapper {
	float: right;
}

#to {
	float: right;
}

svg {
  max-height: calc(100vh - 86px);
  position: absolute;
  max-width: 90%;
}

svg#map path {
  fill:#dddddd;
  stroke:#ffffff;
  stroke-width: 1;
}

svg#map path.icon {
  fill:#000000;
}

svg#map tspan {
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
}

svg circle {
  fill:#000000;
  fill-opacity:1;
}

