@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
  font-family: 'Ubuntu Mono';
  height: calc(100vh - 16px);
  font-size: 20px;
}

#map, #info {
  max-width: 600px;
  padding: 0 20px;
}

@media (min-width: 600px) {
  #map, #info {
    margin: 0 calc(50vw - 300px);
    padding: 0 0;
  }
}


#map {
  max-height: calc(100vh - 86px);
  position: absolute;
}

#info {
	height: 70px;
}

#cost-wrapper {
	float: right;
}

#to {
	float: right;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

svg#map path {
  fill: #dddddd;
  stroke: #ffffff;
  stroke-width: 1px;
}

svg#map path.dijk {
  stroke-width: 0.5px;
  stroke: #dddddd;
}

svg#map path.icon {
  fill: #000000;
  stroke-width: 0;
}

svg#map text {
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
}

svg circle {
  fill: #000000;
}

