@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
  font-family: 'Ubuntu Mono';
  font-size: 16px;
}

#map, #info {
  max-width: 600px;
}

#map {
  max-height: calc(100vh - 86px);
  position: absolute;
}

#info {
	height: 70px;
}

#cost-wrapper {
	float: right;
}

#to {
	float: right;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

svg#map path {
  fill: #ddd;
  stroke: #fff;
  stroke-width: 1px;
}

svg#map path.dijk {
  stroke-width: 0.5px;
  stroke: #ddd;
}

svg#map path.icon {
  fill: #000;
  stroke-width: 0;
}

svg#map text {
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
  color: #000;
}

svg circle {
  fill: #000;
}

.path-route {
  fill: none !important;
  stroke: #000 !important;
  stroke-width: 1.8px !important;
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
  }
  #map, #info {
    margin: 0 calc(50vw - 300px);
    padding: 0;
  }
}
